.cards__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 70vw;
  min-height: 45vh;
}

.card {
  padding: 1.5em;
  border: 6px solid;
  max-width: 15.625em;
  min-width: 11.25em;
  border-radius: 7px;
  background: var(--yellow);
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.4);
  transition: 0.3s;
  margin: 1.5em;
}

.card--cat {
  border-color: var(--red);
}

.card--dog {
  border-color: var(--blue);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.9);
}

.card__text {
  color: var(--navy);
  font-family: "SleepyCat";
  font-size: 1.7rem;
  margin: 0.2em;
}

.card__text__small {
  color: var(--navy);
  font-family: "SleepyCat";
  font-size: 1rem;
  margin: 0.2em;
}

.card__header {
  font-size: 2rem;
  margin: 0.2em;
}

.card__image {
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
