:root {
  --navy: #0d3b66;
  --light: #faf0ca;
  --yellow: #f4d35e;
  --orange: #ee964b;
  --red: #f95738;
  --blue: #156f9f;
}

@font-face {
  font-family: "SleepyCat";
  src: local("SleepyCat"), url(./fonts/SleepyCat.ttf) format("woff");
}

@font-face {
  font-family: "Cattino";
  src: local("Cattino"), url(./fonts/Cattino.otf) format("woff");
}
